.basket_stickyrail{
width: 300px;
flex-grow: 1;
background-color: beige;
}
.basket_content{
width: 100%;
height: 400px;
position: sticky;
top: 0;
background-color: rgb(19, 19, 19);
color: whitesmoke;
overflow:auto;
}
#basket_standard{
padding: 16px;
display: flex;
flex-direction: column;
align-items: center;
}
#checkOutContainer{
background-color: rgb(19, 19, 19);
position: sticky;
top: 390px;
color: whitesmoke;
}
.checkOutBox{
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 16px;
}
#bas_dish_nme{
background-color: beige;
color: black;
padding: 4px;
width: 100%;
}
#bas_dish_prce{
background-color: beige;
color: black;
padding: 4px;
width: 100%;
}
#bas_dish_btns{
background-color: beige;
color: black;
padding: 4px;
width: 100%;
margin-bottom: 8px;
}
#payBtn{
width: 100%;
padding: 4px;
border-radius: 10px;
color: whitesmoke;
background-color: orange;
}
#minusBtn{
background: none;
border: none;
cursor: pointer;
}
#plusBtn{
background: none;
border: none;
cursor: pointer;
}
.delFee{
border-bottom: 1px solid whitesmoke;
padding-bottom: 2px;
}
.total{
padding-top: 2px;
padding-bottom: 2px;
}